@font-face {
  font-family: 'Boreal';
  src: url('../public/boreal.woff');
}

@font-face {
  font-family: 'Ogg';
  src: url('../public/Ogg-Roman.otf');
}

body {
  font-size: 36px;
  font-family: 'Boreal', Arial, Helvetica, sans-serif;
}

.header {
  font-family: 'Ogg', serif;
}