html {
  display: flex;
}

body {
  width: 100vw;
  max-width: 600px;
  margin: auto;
  font-size: 15px;
  letter-spacing: -0.4px;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  padding: 0 0 50px;
}

p {
  margin: 0;
}

.section-wrapper {
  padding: 0 5px;
  box-sizing: border-box;
  /* margin-bottom: 80px; */
}

.section-wrapper:nth-of-type(1) {
  margin-top: 37.5px;
}

#section-about #claire-headshot {
  width: 100%;
  margin-bottom: 20px;
}