body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'FormaDJR';
  src: url('../public/FormaDJR.woff2');
}

@font-face {
  font-family: 'ActiveGrotesk';
  src: url('../public/AktivGrotesk.woff2');
}