#nav {
    padding: 10px 0;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#nav p {
    width: fit-content;
    margin: auto;
    background: white;
    padding: 1px 6px 3px;
    box-sizing: border-box;
    border-radius: 2px;
}

#nav a {
    color: black;
    text-decoration: none;
}

#nav a[data-highlighted="true"] {
    color: red;
}